body {
    background-color: #f1f1f1;
    padding-top: 0px;
}

.purple-gradient {
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
}
.young-passion-gradient {
    background: linear-gradient(40deg, #b12a5b, #ff8177);
}
.title h1 {
    text-align: left;
    color: #202020;
}

.hero {
    color: white;
    padding: 15px;
    h3 {
        color: white;
    }
}

.description {
    margin-top: 15px;

    p {
        font-weight: 700;
    }
}

.footer {
    color: white;
    background-color: black;
}

.sticky-footer {
    color: white;
    background-color: #c4b81c;
    position: fixed;
    bottom: 0;
    z-index: 1;
    display:none
}

.sticky-footer-offset-1,
.sticky-footer-offset-2 {
    font-size: 20px;
    background-color: burlywood;
}
